/* Impostazioni generali */
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    font-style: normal;
}
/* Header */
.title {
    font-size: 3em;
    display: inline-block;
    vertical-align: middle;
}
.middle {
    vertical-align: middle;
}
/* main */
main {
    padding: 60px 250px;
}
/* Bottoni blu e bianco */
.button1 {
    background-color: #47ADF1;
    width: fit-content;
    padding: 10px;
    color: white;
    border-radius: 10px;
    display: inline-block;
}
.button2 {
    display: inline-block;
    width: fit-content;
    padding: 10px;
    color: #D4D8DC;
    border: 1px solid #D4D8DC;
    border-radius: 10px;
}
/* Colore intestazione liste */
h3 {
    color:#444851; 
 }
 /* Sfondo pagina */
.bkg {
    background-color: #f6f8f9;
 }
 .bkg-white {
    background-color: white;
    padding-left: 50px;
    padding-bottom: 10px;
    padding-top: 20px;
    border: 1px solid  #f6f8f9;
 }
/* Elemento lista */
ul.lista1 {
    list-style-type: none;
}
ul.lista1 li.check::before {
    content: "\2713";
    border: 1px solid green;
    color: green;
    border-radius: 50%;
    padding: 3px;
    font-size: 10px;
}
ul {
    padding-bottom: 10px;
}
li {
    padding-top: 10px;
}
ul.lista1 li.deleted::before {
    content: "\2715";
    border: 1px solid red;
    border-radius: 50%;
    color: red;
    font-size: 10px;
    padding: 3px;
}
/* Colore bottone accanto a ogni elemento della lista */
/* Bottone blu */
.buttonblue {
    background-color: #47ADF1;
    width: fit-content;
    padding: 5px;
    color: white;
    border-radius: 15px;
    display: inline-block;
    font-size: 10px;
    margin-left: 3px;
}
/* Bottone viola */
.buttonpurple {
    background-color: #9C72E4;
    width: fit-content;
    padding: 5px;
    color: white;
    border-radius: 15px;
    display: inline-block;
    font-size: 10px;
    margin-left: 3px;
}
/* Bottone aqua */
.buttonaqua {
    background-color: #64C0A9;
    width: fit-content;
    padding: 5px;
    color: white;
    border-radius: 15px;
    display: inline-block;
    font-size: 10px;
    margin-left: 3px;
}
/* Bottone arancio */
.buttonorange{
    background-color: #F29E33;
    width: fit-content;
    padding: 5px;
    color: white;
    border-radius: 15px;
    display: inline-block;
    font-size: 10px;
    margin-left: 3px;
}
/* Bottone rosa */
.buttonpink {
    background-color: #D863A1;
    width: fit-content;
    padding: 5px;
    color: white;
    border-radius: 15px;
    display: inline-block;
    font-size: 10px;
    margin-left: 3px;
}
/* Bottone oliva */
.buttonolive {
    background-color: #B0C926;
    width: fit-content;
    padding: 5px;
    color: white;
    border-radius: 15px;
    display: inline-block;
    font-size: 10px;
    margin-left: 3px;
}

